data
/salesense/.phpunit.cache
/salesense/node_modules
/salesense/public/build
/salesense/public/hot
/salesense/public/storage
/salesense/storage/*.key
/salesense/storage/pail
/salesense/vendor
/salesense.env
/salesense.env.backup
/salesense.env.production
/salesense.phpactor.json
/salesense.phpunit.result.cache
/salesenseHomestead.json
/salesenseHomestead.yaml
/salesenseauth.json
/salesensenpm-debug.log
/salesenseyarn-error.log
/salesense/.fleet
/salesense/.idea
/salesense/.nova
/salesense/.vscode
/salesense/.zed
/salesense/database/database.sqlite
node_modules
bun.lockb
package.json

